.Big-box{
    height: 187vh;
}

.Title-section{
    color: red;
    border-left: 10px solid red;
    background-color: rgb(242, 242, 242);
    margin-left: 15px;
    padding-left: 30px;
    font-weight: 600;
    width: 30%;
    height: 90px;
    margin-bottom: 20px;
    & p{
        color: black;
        font-weight: 100;
    }
}
.box{
    border-left: 6px solid rgb(156, 2, 2);
}
@media (min-width: 375px) and (max-width: 844px){
    .article1{
       height: 330px;
    }
    .Title-section{
        padding: 10px 20px;
        width: 93%;
        height: 140px;
        margin-bottom: 10px;
        & p{
            width: 290px;
        }
    }
    .Title-section:nth:type(2){
        height: 100px;
    }
    .qualifying{
        width: 99%;
    }
    .slang{
        height: 160px;
    }
    
}
